[Desktop Entry]
Name=Ahoris
Exec=com.github.aharotias2.Ahoris
Icon=com.github.aharotias2.ahoris
Terminal=false
Type=Application
Comment=The tetris game application using Gtk3
Categories=Game
