[Desktop Entry]
Name=AharoTetris
Exec=com.github.aharotias2.AharoTetris
Icon=com.github.aharotias2.AharoTetris
Terminal=false
Type=Application
Comment=The tetris game application using Gtk3
Categories=Game
